#classes: the template of objects
**class: a teplate for creating objects(records)

In [ ]:
type(90000)

int

In [ ]:
Job_title = "Data Analysis"
job_location ="United State"
job_salary = 100000

In [ ]:
#if we want to store it inside of a single class instance

In [ ]:
#in here we are using 2_ it's called "dunder a knit" method

In [ ]:
class jobpost:
  def __init__(self,title,location,salary):
    self.title = title
    self.location = location
    self.salary = salary

In [ ]:
jobpost(Job_title,job_location,job_salary)

#attributes: the variable of an object
**attribuite: a field in a record, defined by its class

In [ ]:
job_1 = jobpost(Job_title,job_location,job_salary)

In [ ]:
job_1.title          #let's find out jon_1.title attribute

'Data Analysis'

In [ ]:
job_1.location

'United State'

#methos: the functions of an object
**method: a function defined inside a class that operates on its object

In [ ]:
class jobpost:
  def __init__(self,title,location,salary):
      self.title = title
      self.location = location
      self.salary = salary
  def display_info(self):
      return print(f"JOB     : {self.title}\nLOCATION: {self.location}\nSALARY  :  ${self.salary:,.0f}")

In [ ]:
job_1 = jobpost(Job_title,job_location,job_salary)

In [ ]:
job_1.title

'Data Analysis'

In [ ]:
job_1.display_info()

JOB     : Data Analysis
LOCATION: United State
SALARY  :  $100,000

In [ ]:
salary = 90000

In [ ]:
type(salary)

int

In [ ]:
salary.__add__(1)

90001