In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/data_jobs.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42574 entries, 0 to 42573
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        42574 non-null  object
 1   job_title              42574 non-null  object
 2   job_location           42518 non-null  object
 3   job_via                42572 non-null  object
 4   job_schedule_type      41839 non-null  object
 5   job_work_from_home     42574 non-null  bool
 6   search_location        42574 non-null  object
 7   job_posted_date        42574 non-null  object
 8   job_no_degree_mention  42574 non-null  bool
 9   job_health_insurance   42574 non-null  bool
 10  job_country            42569 non-null  object
 11  salary_rate            1825 non-null   object
 12  salary_year_avg        1198 non-null   float64
 13  salary_hour_avg        610 non-null    float64
 14  company_name           42572 non-null  object
 15  job_skills             36748 non-null  object
 16  job_type_skills        36748 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 4.7+ MB

In [ ]:
# in here our job posted date object is str
type(df.job_posted_date[0])

str

# convering srt to date time

In [ ]:
# so let's conver into datetime
pd.to_datetime(df.job_posted_date).head(2)

0   2023-06-16 13:44:15
1   2023-01-14 13:18:07
Name: job_posted_date, dtype: datetime64[ns]

In [ ]:
# but it won't chage my real data so we need to assign  job_posted_date   column to itself
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

# creating new column

In [ ]:
df.job_posted_date.dt.month.head(2)      # month is property not a method, so we don't need to use()

0    6
1    1
Name: job_posted_date, dtype: int32

In [ ]:
# to get this month value inside our dataset
df['job_posted_month'] = df.job_posted_date.dt.month

# pd.dataframe.sort_values

In [ ]:
# arraging data in logical manner , 1st job posting in the beginning

In [ ]:
df.sort_values(by = 'job_posted_date',  ascending=False, inplace=True)

# dropping a column

In [ ]:
df.drop('salary_hour_avg', axis=1, inplace=True)         # in here axis = 0 means rows by index , axis = 1 means column

# remove nan value

In [ ]:
df.dropna(subset= ['salary_year_avg'], inplace=True)