In [ ]:
list1 = [True,2.5]
print(list1)

print(len(list1))

[True, 2.5]
2

In [ ]:
cities = ["kandy","colombo","galle","kandy","mannar"]
cities[1] = "jaffna"
print(cities)
print(cities[2])
print(cities[-5])
print(cities[:5])
print(cities[2:4])
print(cities[3:])
if "jaffna" not in cities:
  print("yes")
else :
  print("no")

['kandy', 'jaffna', 'galle', 'kandy', 'mannar']
galle
kandy
['kandy', 'jaffna', 'galle', 'kandy', 'mannar']
['galle', 'kandy']
['kandy', 'mannar']
no

In [ ]:
cities = ["kandy","colombo"]
print(cities)

cities.append("jaffna")
print(cities)

cities.insert(1,"matara")
print(cities)

list2 = 1,2,3
cities.extend(list2)
print(cities)

['kandy', 'colombo']
['kandy', 'colombo', 'jaffna']
['kandy', 'matara', 'colombo', 'jaffna']
['kandy', 'matara', 'colombo', 'jaffna', 1, 2, 3]

In [ ]:
cities = ["kandy","colombo","matara"]
cities.pop(0)
print(cities)

['colombo', 'matara']

In [1]:

list = ["egg","milk","bread"]
print(len(list))
print(list[2])

if "milk" in list :
  print("yes")

list.insert(3,"butter")
print(list)

list.insert(0,"vegetables")
print(list)

list1 = ["cake","chocolate","snacks"]
list.extend(list1)
print(list)

list.pop()
print(list)

3
bread
yes
['egg', 'milk', 'bread', 'butter']
['vegetables', 'egg', 'milk', 'bread', 'butter']
['vegetables', 'egg', 'milk', 'bread', 'butter', 'cake', 'chocolate', 'snacks']
['vegetables', 'egg', 'milk', 'bread', 'butter', 'cake', 'chocolate']

tuple

In [ ]:
country =("sri lanka","india","USA","UK","china")
tuple1 = ("japan",)
print(country)
print(type(country))

('sri lanka', 'india', 'USA', 'UK')
<class 'tuple'>

In [ ]:
country =("sri lanka","india","USA","UK","china")
print(country[0])
print(country[-2])
print(country[2:])

sri lanka
UK
('USA', 'UK', 'china')

In [ ]:
country =("sri lanka","india","USA","UK","china","UK")
if "india" in country :
  print("yes")

print(country.count("UK"))

yes
2

In [ ]:
a = ("SL","UK","USA")
b = (1,2,3)
print(a)
print(b)

a+=b
print(a)

('SL', 'UK', 'USA')
(1, 2, 3)
('SL', 'UK', 'USA', 1, 2, 3)