In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\HP\Desktop\ASHFA\data_jobs.csv")

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\HP\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# sample

In [17]:
# each time we are running sample it'll give different 10 resaults
# if we find certain example we can output the same results by settiing random
# if we want 10% rows from our df we can use frac function (frac=0.1)

df.sample(3 , random_state=45)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
172395,Data Analyst,Data Analyst III - Healthcare - Office or Remote,Anywhere,via ZipRecruiter,Full-time,True,"California, United States",2023-12-27 15:01:14,False,True,United States,NaN,NaN,NaN,"Qlarant Commercial Solutions, Inc","['python', 'r', 'sas', 'sas', 'sql']","{'analyst_tools': ['sas'], 'programming': ['py..."
198087,Data Analyst,Stage Data Analyst,"Paris, France",via Welcome To The Jungle,Internship,False,France,2023-06-06 15:21:19,False,False,France,NaN,NaN,NaN,Ideel Garden,NaN,NaN
277405,Data Analyst,ROC Intern Data Analyst,Anywhere,via ZipRecruiter,Full-time and Internship,True,"New York, United States",2023-09-05 07:00:46,False,False,United States,NaN,NaN,NaN,GE,NaN,NaN

# copy

1. why we are creating copy because
* if we set our original df to some new variable df it'll change our original df
* we can make sure it with our id method 
* so by copy method it won't change our original df

In [7]:
df_original = pd.read_csv(r"C:\Users\HP\Desktop\ASHFA\data_jobs.csv")

In [10]:
# Create new dataframe
df_altered = df_original

df_altered.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [11]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered.loc[:,'salary_year_avg'].fillna(median_salary)
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [12]:
df_original.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [13]:
print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                2005939591120
ID of df_altered:                 2005939591120
Are the two dataframes the same?  True

* but if set original df to copy

In [14]:
df_original = df.copy()
df_altered = df_original.copy()

print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                2007261819408
ID of df_altered:                 2007171270864
Are the two dataframes the same?  False

In [15]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [16]:
df_original.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64