In [ ]:
list = ["milk","chocolate","drink",]
print(list[0])
print(list[1])
print(list[2])
print(len(list))
print(list[-3])
if "milk" in list:
   print("yes")
list[2] = ["butter"]
print(list)
list.append("vegetable")
print(list)

milk
chocolate
drink
3
milk
yes
['milk', 'chocolate', ['butter']]
['milk', 'chocolate', ['butter'], 'vegetable']

In [ ]:
shopping_list = ["eggs","vegetables","bread","milk","butter"]

for item in shopping_list:
  print(item)

eggs
vegetables
bread
milk
butter

In [ ]:
number_list = [1,2,3,4,5,6,7,8,9,10]

for item in number_list:
  print(item, end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
word = "python programming"

for letter in word:
  print(letter)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

for num in list:
  print("{} x 5 = {}".format(num,num * 5))

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

for num in list:
  print(num*5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
y =int(input("num"))
for num in list:
  print("{} x {} = {}".format(num,y,num*y))

num9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

In [ ]:
for num in range(11):
 print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,11,2):
  print(num)

1
3
5
7
9

In [ ]:
for num in range(0,51,5):


  print(num)

0
5
10
15
20
25
30
35
40
45
50

In [ ]:
for num in range(100,0,-10):
  print(num)

100
90
80
70
60
50
40
30
20
10

In [ ]:
for num in range(0,61,3):
  print(num)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60

In [ ]:
for num in range(24,-1,-4):
  print(num)

24
20
16
12
8
4
0

In [ ]:
for num in range(99,10,-11):
  print(num)

99
88
77
66
55
44
33
22
11

In [ ]:
for num in range(89,-2,-9):
  print(num)

89
80
71
62
53
44
35
26
17
8
-1

In [ ]:
from re import sub
sub1 = int(input("mark1:"))
sub2 = int(input("mark2:"))
sub3 = int(input("mark3:"))

total = sub1 + sub2 + sub3
print(total)

average = total/3
print(average)

mark1:7
mark2:7
mark3:7
21
7.0

In [ ]:
total = 0
for count in range(5):
  mark = int(input("enter mark for sub {}:".format(count+1)))
  total += mark

print("total marks = ",total)

average = total /5

print("average=",average)

enter mark for sub 1:5
enter mark for sub 2:5
enter mark for sub 3:5
enter mark for sub 4:5
enter mark for sub 5:5
total marks =
average= 5.0

In [ ]:
student = ["john","paul","vimal","daisy","lilly"]
key = "lillu"
for stu in student:
  if stu == key:
    print("we have found the student")
    break
else:
  print("the student is not in the list")

the student is not in the list

In [ ]:
for i in range(5,5):
 print("*" , end = " " )
 print("*")

In [ ]:
for i in range(5):
  for J in range(5) :
   print("*", end = "")
  print()

*****
*****
*****
*****
*****

In [ ]:
for i in range(1,5):
  for j in range(i):
    print("*" , end = " ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(i):
    print("*" , end =" ")
  print()

In [ ]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i < 11:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
num = int(input())

while num > 10:
      sum += 1
      num = int(input())


print("sum is :", sum)

22
23
34
45
0
sum is : 4

write a program to find the average of  a number

In [ ]:
sum = 0
num = int(input("enter a number:"))


while num < 0:
      sum += num
      choice = input("do you need to enter more numbers(yes/no):")

total= num + sum
print(total)

enter a number:45
45

In [ ]:
more_data = "yes"
sum = 0.0
count = 0
while more_data == "yes":
  x = int(input("enter a number:"))
  sum = sum+x
  count = count + 1
  more_data = input("do you need to enter more numbers(yes/no):")

  print("/nthe average of the numbers is ", sum/count
        )

enter a number:50
do you need to enter more numbers(yes/no):no
/nthe average of the numbers is  50.0
enter a number:10
do you need to enter more numbers(yes/no):yes
/nthe average of the numbers is  30.0

In [ ]:
sum = 0.0
count = 0
x = int(input("enter a number > enter -1 to stop:"))
while x != -1:
  count = count + 1
  sum = sum + x
  x = int(input("enter a number > enter -1 to stop:"))

  print("/nthe average of the numbers is ", sum/count)

enter a number > enter -1 to stop:56
enter a number > enter -1 to stop:66
/nthe average of the numbers is  56.0
enter a number > enter -1 to stop:55
/nthe average of the numbers is  61.0
enter a number > enter -1 to stop:-1
/nthe average of the numbers is  59.0

dictionary

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}
print(student)
print(type(student))

{'name': 'john', 'age': 24, 'city': 'kandy'}
<class 'dict'>

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "age" :25,
           "city":"kandy"}
student_name =student.get("name")
student_age = student.get("get")
print(student_name)
print(student_age)

john
None

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}
my_keys = student.keys()
print(my_keys)

my_values = student.values()
print(my_values)

my_items = student.items()
print(my_items)

dict_keys(['name', 'age', 'city'])
dict_values(['john', 24, 'kandy'])
dict_items([('name', 'john'), ('age', 24), ('city', 'kandy')])

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

for key in student.keys():
  print(key)

print()

for value in student.values():
  print(value)

print()

for key,value in student.items():
  print(key,value)

name
age
city

john
24
kandy

name john
age 24
city kandy

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

print(student)
student["city"] = "colombo"

print(student)

{'name': 'john', 'age': 24, 'city': 'kandy'}
{'name': 'john', 'age': 24, 'city': 'colombo'}

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

print(student)

student.update({"city":"colombo"})
print(student)

{'name': 'john', 'age': 24, 'city': 'kandy'}
{'name': 'john', 'age': 24, 'city': 'colombo'}

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

print(student)

student.pop("age")
print(student)

{'name': 'john', 'age': 24, 'city': 'kandy'}
{'name': 'john', 'city': 'kandy'}

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

print(student)

student.popitem()
print(student)

{'name': 'john', 'age': 24, 'city': 'kandy'}
{'name': 'john', 'age': 24}

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

student.clear()

print(student)

{}

In [ ]:
student = {"name" : "john" ,
           "age" : 24 ,
           "city":"kandy"}

del student
print(student)

NameError: ignored



develop a program to read integer values from a list and append values to a dictionary that containing two keys to store numbers greater than 50 and less than 50.

In [ ]:
dict1 = {"greater than 50":[], "less than 50":[]}

number_list =[]

for i in range(8):
  number_list.append(input("enter the number:"))

for i in number_list:
  if int(i)  > 50:
    dict1["greater than 50"].append(i)
  elif int(i) < 50:
    dict1["less than 50"].append(i)

print(dict1)

enter the number:7
enter the number:8
enter the number:99
enter the number:7
enter the number:9
enter the number:66
enter the number:54
enter the number:66
{'greater than 50': ['99', '66', '54', '66'], 'less than 50': ['7', '8', '7', '9']}