#for loop

In [ ]:
numbers = [0,1,2,3,4,5]

for number in numbers:          #in here number is 'variable' and numbers is 'iterable'
  print(number)

0
1
2
3
4
5

In [ ]:
# list,dictionary,set,tupls are iterable
# string also iterable

In [ ]:
characters = 'PYTHON'

for letter in characters:
  print(letter)

P
Y
T
H
O
N

In [ ]:
year_experience = {
    'luke': 3,
    'willium': 2,
    'east': 5,
    'suppha': 4
}

for person in year_experience:
  print(person)

luke
willium
east
suppha

In [ ]:
for value in year_experience.values():
  print(value)

3
2
5
4

In [ ]:
for key,value in year_experience.items():
  print(key,value)

luke 3
willium 2
east 5
suppha 4

In [ ]:
for key,value in year_experience.items():
  if value > 3:
    print(key, 'has', value, 'years of experience')

east has 5 years of experience
suppha has 4 years of experience

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for _ in range(15):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for letter in "hello":
  print(letter)

h
e
l
l
o

In [ ]:
fruits = ["apple", "banana", "cherry"]

for items in fruits:
  print(items)

apple
banana
cherry

In [ ]:
total = 0
for i in range(1, 11):
    total += i
print(total)

55

In [ ]:
dict = {"name": "Alice", "age": 25}

for key, value in dict.items():
  print(key, ':', value)

name : Alice
age : 25

In [ ]:
#print even num
numbers = [1, 2, 3, 4, 5, 6]

for even_num in numbers:
  if even_num % 2 == 0:
    print(even_num)

2
4
6

In [ ]:
#print moth with salary at the end print total salary
exp = [2340, 2500, 2100, 3100, 2980]

index = 0
total = 0
for i in exp:
  index += 1
  print(index, "st month salary:",i)
  total += i
print("total salary:", total)

1 st month salary: 2340
2 st month salary: 2500
3 st month salary: 2100
4 st month salary: 3100
5 st month salary: 2980
total salary: 13020

In [ ]:
#or u can do
exp = [2340, 2500, 2100, 3100, 2980]

for i in range(len(exp)):
  print('month:', (i+1), 'expense:', exp[i])   # in here i is 0 so we are adding 1

month: 1 expense: 2340
month: 2 expense: 2500
month: 3 expense: 2100
month: 4 expense: 3100
month: 5 expense: 2980

In [ ]:
# if we achieve our goal and stop a for loop and terminate in between

In [ ]:
#key finding

key_location = "chair"
locations = ["garage", "living room", "chair", "closet"]

for search in locations:
  if search == key_location:
    print("key is found in", search)
    break        #it wouldn't go complete list, it'll come out from for loop
  else:
    print("key is not found in", search)

key is not found in garage
key is not found in living room
key is found in chair

In [ ]:
# when u r doing for loop for list of items sometimes for some items u want to skip the operation
# so that case we use 'continue'

In [ ]:
# print squre num between 1-5 except even num

for i in range(1,6):
  if i % 2 == 0:
    continue
  print(i*i)

1
9
25

In [ ]:
# 10 time flip,how man
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

count = 0
for i in result:
  if i == 'heads':
    count += 1
print(count)

4

#while loops

In [ ]:
#while loops checking condition whether it's true / false ,
#while it's maintaining true the condition underneath is going to execute
# (while loop takes only one condition , until that condition is satisfied to be true it will just keep on iterating)

In [ ]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [ ]:
#why while lopp?
# if the list too long and but we only care returning 1st instance of meeting condition

In [ ]:
year_experience = {
    'luke': 3,
    'willium': 2,
    'east': 5,
    'suppha': 4,
    'john': 7,
    'peter': 6
}

In [ ]:
#dictionaries are unordered, so we can't use index to iterate throught it, so we are converting this dictionary to list
#and then it has an index for each of these key value payers in order to iterate through

In [ ]:
years = 0
index = 0

year_list = list(year_experience.items())

while years < 5:
  key,years = year_list[index]
  print(key, years)
  index += 1

luke 3
willium 2
east 5

In [ ]:
years = 0
index = 0

year_list = list(year_experience.items())

while years < 5:
  key,years = year_list[index]
  if years >=5:
   print(key, years)
  index += 1                         #index want to be iterating through each item in list

east 5

In [ ]:
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 5
while i >= 1:
  print(i)
  i -= 1

5
4
3
2
1