A way way to create a new list (with shorter syntax) based on the values of an existing list.
* Not limited to only list comprehension:

1. set comprehension
2. tuple comprehension
3. dictionary comprehension

In [ ]:
numbers = []

for number in range(10):
    numbers.append(number)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#but if we use list comprehension

In [ ]:
numbers = [x for x in range(10)]       # x - variable that we want to put into that
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [x*2 for x in range(10)]
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numbers = [float(x) for x in range(10)]
numbers

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [ ]:
numbers = [x for x in "PYTHON"]          #WE can use string as well
numbers

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
job_titles = [
    "Junior Data Analyst",
    "Data Engineer",
    "Data Entry Specialist",
    "Reporting Analyst",
    "Research Data Analyst",
    "SQL Developer",
    "Operations Analyst",
    "Quantitative Analyst"
]

data_analyst = []

for job in job_titles:
  if "Data Analyst" in job:
    data_analyst.append(job)

data_analyst

['Junior Data Analyst', 'Research Data Analyst']

In [ ]:
#list comprehension method

In [ ]:
data_analyst = [job for job in job_titles if True]
data_analyst

['Junior Data Analyst',
 'Data Engineer',
 'Data Entry Specialist',
 'Reporting Analyst',
 'Research Data Analyst',
 'SQL Developer',
 'Operations Analyst',
 'Quantitative Analyst']

In [ ]:
data_analyst = [job for job in job_titles if False]
data_analyst

[]

In [ ]:
data_analyst = [job for job in job_titles if "Data Analyst" in job]
data_analyst

['Junior Data Analyst', 'Research Data Analyst']

In [ ]:
integer = [0, 1, 2, 3, 4]
binary = ["0", "1", "10", "11", "100"]

dict = {k:v for k,v in zip(integer, binary)}
dict

{0: '0', 1: '1', 2: '10', 3: '11', 4: '100'}