In [ ]:
skill_list = ['python','sql','excel']

count = 0
for skill in skill_list:
  count += 1

count

3

In [ ]:
#with functions
len(skill_list)

3

#build in function

In [ ]:
print(skill_list)

['python', 'sql', 'excel']

In [ ]:
type(skill_list)

list

In [ ]:
len(skill_list)

3

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
#go to python documentation to get to know what are built-in function

In [ ]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [ ]:
min(data_salaries)

85000

In [ ]:
max(data_salaries)

140000

In [ ]:
sum(data_salaries)

517000

In [ ]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

#user-defined function

In [ ]:
base_salary = 100000
bonus_rate = 0.1

total_salary = base_salary * (1+ bonus_rate )
total_salary

110000.00000000001

In [ ]:
# if we have bunch of different salaries and bunch of diff bonus rates
# to start a function with key word "def(define)""

In [ ]:
def total_salary():
  pass      #we are using pass for make sure that we can add values later (execute properly), we can use pass in loop as well

In [ ]:
def calculate_salary():
  base_salary = 100000
  bonus_rate = 0.1
  total_salary = base_salary * (1+ bonus_rate )

  return total_salary

In [ ]:
calculate_salary()

110000.00000000001

In [ ]:
# let's make this function more usable to providing arguments to then provide us values

In [ ]:
def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1+ bonus_rate )

  return total_salary

In [ ]:
calculate_salary(150000, 0.25)

187500.0

In [ ]:
salary_1 = 300000
rate_1 = 0.2

calculate_salary(salary_1, rate_1)

360000.0

In [ ]:
# if we routinely have same bonus rate and don't need to put that bonus rate every single time
#so we can add an optional argument

In [ ]:
def calculate_salary(base_salary, bonus_rate = .1):

  total_salary = base_salary * (1+ bonus_rate )

  return total_salary

In [ ]:
calculate_salary(100000)     # you can want to add different bonus rate here

110000.00000000001

In [ ]:
def my_experience():
  return 5

my_experience()

5

In [ ]:
def data_analyst(skill1, skill2, salary1, salary2):
  print(f' {skill1}: ${salary1}')
  print(f' {skill2}: ${salary2}')

In [ ]:
data_analyst('python', 'sql', 100000, 200000)

 python: $100000
 sql: $200000

In [ ]:
def analyze_skills(skill1, salary1, skill2, salary2):
    """
    Print job titles with their corresponding average salaries using explicitly named parameters.

    :param skill1: The first job title or skill.
    :param salary1: The average salary for the first job title or skill.
    :param skill2: The second job title or skill.
    :param salary2: The average salary for the second job title or skill.
    """
    print('Job Title and Average Salary Analysis:')
    print(f'- {skill1}: ${salary1:,}')
    print(f'- {skill2}: ${salary2:,}')

analyze_skills(skill1='Data Analyst', salary1=60000, skill2='Business Analyst', salary2=65000)

Job Title and Average Salary Analysis:
- Data Analyst: $60,000
- Business Analyst: $65,000

In [ ]:
def number():
  for number in range(1,11):
    print(number)

In [ ]:
number()

1
2
3
4
5
6
7
8
9
10

In [ ]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]