#functions: the manipulators of objects
**functions: A reusable of code that performs a specific task

In [ ]:
# eg: "print" is a function, "print()" is an argument, "print(...)" it's gonna give me output
#it's called 'built in function'

In [ ]:
print("What's up, data nerds")

What's up, data nerds

In [ ]:
#if i routinely printing out the statement "what's up data nerds", i can build it's own function
#the function start with def(define)

In [ ]:
def greet():
  return "what's up,data nerds"

In [ ]:
greet()

"what's up,data nerds"

In [ ]:
Job_title = "Data Analysis"
job_location ="United State"
job_salary = 100000

In [ ]:
print(f"JOB     : {Job_title}\nLOCATION: {job_location}\nSALARY  :  ${job_salary:,.0f}")

JOB     : Data Analysis
LOCATION: United State
SALARY  :  $100,000

In [ ]:
def display_info(title, location, salary):
    return print(f"JOB     : {title}\nLOCATION: {location}\nSALARY  :  ${salary:,.0f}")

In [ ]:
display_info(Job_title, job_location, job_salary)

JOB     : Data Analysis
LOCATION: United State
SALARY  :  $100,000

In [ ]:
tom = [ 2100,3400,3500 ]
joe = [200, 300, 400]

In [ ]:

def calculate_salary(exp):
  total = 0
  for salary in exp:
       total += salary
  print(total)

calculate_salary(tom)

9000

In [ ]:
def sum(num1,num2):
  total = num1 + num2
  return total

sum(5,6)

11

In [ ]:
#1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
# ```
# area = (1/2)*base*height
# ```
#
# 2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
# ```
# rectangle area=length*width
# ```
# If no shape is supplied then it should take triangle as a default shape

In [ ]:
def calculate_area(base , height):
  area = 0.5 * base * height
  return area

In [ ]:
def calculate_area(base , height, type):
  if type == 'triangle':
   area = 0.5 * base * height
  elif type == 'rectriangle':
    area = base * height
  else:
    print("type should be tri or rect")
    area = None
  return area