# lambda function / anonymous functions.

* in 2 major ways that most of lambda function used
1. inside of list comprehension
2. built in function (filter , map

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(4)

8

In [ ]:
(lambda x: x*2)(3)

6

In [ ]:
#to provide multiple argument to this function
(lambda x , y: x*2 + y)(3,4)

10

In [ ]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

def calculate_salary(base_salaries, bonus_rate = .1):
  total_salary = base_salaries * (1 + bonus_rate)      # for these 2 step we can write "return base_salaries*(1+bonus_rate)"
  return total_salary

total_salary_list = [calculate_salary (salary) for salary in data_salaries]   #in here we are passing salary to calculate salary

total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0]

In [ ]:
#def calculate_salary(base_salaries, bonus_rate = .1):
 #  return base_salaries * (1 + bonus_rate)

total_salary_list = [(lambda x: x)(salary) for salary in data_salaries]
total_salary_list

[95000, 100000, 85000, 97000, 140000]

In [ ]:
#with lambda

total_salary_list = [(lambda x: x*1.1)(salary) for salary in data_salaries]    # 1.1 = (1+bonus_rate)
total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0]

In [ ]:
#technically

total_salary_list = [salary * 1.1 for salary in data_salaries]
total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0]

#data filtering example

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
# let's filter the data that have python and remote = true

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
# filtery remote is = true
list(filter(lambda job: job['remote'],jobs_data))   #in filter function it's only return function is true.

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True}]

In [ ]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

In [ ]:
# my way( using only list comprehention)

In [ ]:
suitable_job = [job for job in jobs_data if 'Python' in job['job_skills'] and job['remote'] == True]
suitable_job

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

In [ ]:
is_even = lambda x: x % 2 == 0

# Test the lambda function
print(is_even(9))  # Output: True

False

In [ ]:
(lambda x: x * 4 == 12)(3)

True

In [ ]:
(lambda x: x*x)(5)     #for squire u can use x**2

25

In [ ]:
numbers = [-4, 0, 3, 9, -2, 5]
positive_numbers = list(filter(lambda x: x>0 ,numbers))
positive_numbers

[3, 9, 5]

In [ ]:
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]

sorted(people, key= lambda x: x[1], reverse = True)    #x[1] means index is 1 it mean by age]
                                                        #reverse = true it's default by decending order

[('Charlie', 35), ('Alice', 30), ('Bob', 25)]