# create a variable

In [ ]:
# variable_name = variable

In [ ]:
salary = 100000

In [ ]:
salary

100000

In [ ]:
"salary"          #if we're using string it's complete different

'salary'

**Total Salary = (Base Salary)*(1 + Bonus Rate)       # if bonus is 10%

In [ ]:
base_salary = 100000
bonus_rate = 0.1
total_salary = base_salary * (1 + bonus_rate)
total_salary

110000.00000000001

In [ ]:
# we can't keet space between variable name

# variable aren't only numbers

**eg: create variable to store the following information about a job**
1. job ID (integer)
2. company names (string)
3. salary rate (string,or..)
4.job work from home ( boolean)

In [ ]:
company_name = "Datawiz Inc."

In [ ]:
job_wfh = True

In [ ]:
job_ID = 101

In [ ]:
job_title = "Data analysis"

In [ ]:
job_salary = 125000

In [ ]:
print("job discription")
print("***************")
print("Company Name:",company_name)
print("Job ID      :",job_ID)
print("Job Title   :",job_title)
print("Job Salary  :",job_salary)
print("job WFH     :",job_wfh)

job discription
***************
Company Name: Datawiz Inc.
Job ID      : 101
Job Title   : Data analysis
Job Salary  : 125000
job WFH     : True