#class
**class is an abstraction of some entity which contains common set of properties and matters**

In [ ]:
class LukesList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __setitem__(self, index, value):
        """Set an item at a specific index."""
        self._items[index] = value

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [ ]:
my_list = LukesList()
my_list

[]

In [ ]:
my_list.add('data nerd')
my_list.add('finance nerd')

my_list

['data nerd', 'finance nerd']

In [ ]:
my_list[0]

'data nerd'

In [ ]:
def calculate_salary(base_salary, bonus_rate=.1):
  """
  Calculate the total salary based on the base salary and bonus rate.

  Args:
    base_salary (float): The base salary.
    bonus_rate (float): The bonus rate. Default is .1.

  Returns:
    float: The total salary.
  """
  return base_salary * (1 + bonus_rate)

def calculate_bonus(total_salary, base_salary):
  """
  Calculate the bonus rate based on the total salary and base salary.

  Args:
    total_salary (float): The total salary.
    base_salary (float): The base salary.

  Returns:
    float: The bonus rate.
  """
  return (total_salary - base_salary) / base_salary

In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'

  def show_salary(self):
    return f'{self.symbol}{self.total_salary:,.0f}'

  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
data_salary = BaseSalary(100000)
data_salary

$100,000

In [ ]:
data_salary.show_salary()

'$110,000'

In [ ]:
#???????????????????????
#check it out

In [ ]:
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def greet(self):
    print(f"hello my name is {self.name} , my age is {self.age}")

a = person("lukes",23)
a.greet()

hello my name is lukes , my age is 23