In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data_jobs.csv')

<ipython-input-7-7d701165924b>:1: DtypeWarning: Columns (5,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_jobs.csv')

In [ ]:
[df.job_country.value_counts().head(10)]

[job_country
 United States     13926
 India              4522
 France             3118
 United Kingdom     2998
 Spain              2108
 Germany            1948
 Netherlands        1618
 Singapore          1579
 Sudan              1446
 Italy              1308
 Name: count, dtype: int64]

In [ ]:
# to search specific counrty
df['job_country'].isin(['Brazil']).any()

np.True_

In [ ]:
# creating df with chooses country
us_data = df[df['job_country'] == 'United States']

In [ ]:
# removing
us_data = us_data[us_data["salary_year_avg"].notna()]
us_data.head(2)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
92,Data Engineer,Remote - Data Engineer - Permanent - W2,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-02-21 13:29:59,False,True,United States,year,120000.0,NaN,Apex Systems,"['sql', 'python']","{'programming': ['sql', 'python']}"
100,Data Scientist,"Data Scientist, Risk Data Mining - USDS","Mountain View, CA",via LinkedIn,Full-time,False,"California, United States",2023-07-31 13:01:18,False,True,United States,year,228222.0,NaN,TikTok,"['sql', 'r', 'python', 'express']","{'programming': ['sql', 'r', 'python'], 'webfr..."

# syntax for groupby:
**df.groupby(['list of column names of a group'])['list of column names to aggregate'].your_agg_method()**

---



---

In [ ]:
us_data.groupby(["job_title_short"])["salary_year_avg"].agg(["mean",'min','max','count','median']).sort_values(by='median')

,mean,min,max,count,median
job_title_short,,,,,
Business Analyst,103949.878788,46000.000000,200000.0,33,95312.0
Data Analyst,103789.440816,34288.574219,254000.0,258,100000.0
Senior Data Analyst,120749.303279,75907.000000,200066.5,61,115000.0
Data Scientist,143541.563795,30750.000000,375000.0,374,126750.0
Data Engineer,133890.782569,50000.000000,300000.0,237,129500.0
Machine Learning Engineer,169239.857143,128682.000000,225000.0,7,150000.0
Senior Data Scientist,153541.295918,87500.000000,375000.0,98,151250.0
Senior Data Engineer,156136.994382,80000.000000,375000.0,89,157500.0
Software Engineer,163521.875000,50000.000000,317000.0,16,163500.0