In [ ]:
if True:
  print("what's up")

what's up

In [ ]:
if False:
  print("hello world")

In [ ]:
if False:
  print("hello world")
else:
  print("what's up")

what's up

In [ ]:
#applicant skills
applicant_skills = "sql"

#skill requide for job posting
job_skills = "sql"

if applicant_skills == job_skills:
  print("you are qualified")
else:
  print("you are not qualified")

you are qualified

In [ ]:
applicant_skills = "sql"
job_skills = "python"
years_of_experience = 2

## Check if your desired job skill matches the required skill and what position you can apply for based on your years of experience.
if applicant_skills == job_skills:
  print('skills matched')
elif years_of_experience >= 3:
  print("Enough experience; no sql skills")
else:
  print("no skills or experience matched")

no skills or experience matched

In [ ]:
# pass/... is put in the place whenever u don't have anything to put there
if applicant_skills == job_skills:
  pass         #nothing gonna print here

#Activity

1. Check if a number is positive, negative, or zero.

In [ ]:
number = int(input("Enter a number: "))

if number == 0:
  print("number is zero")
elif number >= 0:
  print("number is positive")
else:
  print("number is negative")

Enter number: 5
number is positive

2.Find the largest among three numbers.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a>=b and a>=c:
  print("largest; ",a)
elif b>=a and b>=c:
  print("largest;",b)
else:
  print("largest;",c)

Enter first number: 5
Enter second number: 6
Enter third number: 7
largest; 7

Problem: Assign a grade based on a score:

* 90–100: A
* 80–89: B
* 70–79: C
* 60–69: D
* <60: F

In [ ]:
num = int(input("enter a marks; "))

if 100>=num>=90:
  print("A grade")
elif 90>num>=80:
  print("B grade")
elif 80>num>=70:
  print("C grade")
elif 70>num>=60:
  print("D grade")
else:
  print("F grade")

enter a marks; 70
C grade